html, body{
    height: 100%;
    margin: 0;
    background-color:#f7fcff;
}
.title{
    margin: 5px auto 0;    
    width: 100%;
    text-align: center;
}
*{
    /*border: solid 1px;*/

}
.container{
    width: 95vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.inner_container{
    margin: 0 auto;
}
.city_section{
    margin-top: 30px;
    /*justify-content: center;*/
    width: 100%;
    display: flex;
    border-radius: 18px;
    box-shadow: 2px 2px 5px 1px grey;
    padding: 18px 5px 18px 5px;
}
.select_city{
    width: 20px;
    margin-left: 30px;
    border-right: solid 5px #f6f698;
    padding-right: 10px;
    display: flex;
    align-items: center;
}
.area{
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 16px;
}
.city_groups{
    width: 105px;
    margin-right: 20px;
}
.cities{
    margin-left: 20px;
    display: flex;
}
.item{
    margin:24px 0;
    border-radius: 10px;
}
.item:hover{
    background-color: #f6f698;
}
label{
    font-size:18px;
}
.sex_section{
    margin-top: 30px;
    /*justify-content: center;*/
    width: 100%;
    /*height: 100px;*/
    display: flex;
    margin-top: 30px;
    border-radius: 18px;
    box-shadow: 2px 2px 5px 1px grey;
    padding: 18px 5px 18px 5px;

}
.select_sex{
    width: 20px;
    margin-top: 30px;
    margin-left: 30px;
    border-right: solid 5px #eed6b7;
    padding-right: 10px;
}
.sex{
    display: flex;
    margin-top:30px;
    margin-left: 20px;
}
.sex > .item:hover{
    background-color: #eed6b7;
}
.generate{
    margin-top: 30px;
    margin-left: 60px;
    display: flex;
}

.button{
    height: 43px;
    margin-right: 20px;
}
.id{
    font-size: 30px;
    height: 43px;
    width: 190px;
    font-family: 'Helvetica';
    border-radius: 12px;
    border: solid green 2px;
    padding: 0 10px;
    background-color: rgb(216, 216, 216);
    letter-spacing: 1px;
}